#main {
	background-image: url(../images/gerseberm.jpg);
	height: 600px;
	width: 402px;
	margin-left:275px;
	font-size:60px;
	color: white;
}
#text {
	padding-top:300px;
	text-align:center;
	color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font: 60px 'ChunkFiveRegular';
}
#wrapper {
	background-color:black;
	height:1000px;
}
#header {
	height:75px;
	background-color:black;
}
#info {
	margin-top: 25px;
	color: white;
	margin-left: 305px;
	font-size: 24px;
	color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font: 24px 'ChunkFiveRegular';
}
#footer {
	height:70px;
	clear:both;
	background-color: #666666;
	border-style:solid;
	border-color: #DEB887;
	border-top-width:10px;
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font: 16px 'ChunkFiveRegular';
}
#copyright {
	text-align: center;
	padding-top: 10px;
	color:#dddddd;
}