#main {
	background-image: url(../images/gerseberm.jpg);
	height: 604px;
	width: 402px;
	margin-left:250px;
	margin-top: 50px;
	font-size:60px;
	color: white;
}
#text {
	padding-top:300px;
	text-align:center;
}
